{% extends 'base.html' %}
{% block title %}Surprise !Store - store{% endblock %}
{% block style %}

<style>

</style>
{% endblock %}

{% block content %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						Sign Up
					</span>


					<div class="wrap-input100 validate-input m-b-16" data-validate = "Field is required">
						<input class="input100" type="text" name="first_name" placeholder="First Name">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Field is required">
						<input class="input100" type="text" name="last_name" placeholder="Last Name">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Email is required">
						<input class="input100" type="email" name="email" placeholder="Email Address">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Confirm Password">
						<span class="focus-input100"></span>
					</div>
					<div class="flex-sb-m w-full p-t-1 p-b-24">
<!--						<div class="contact100-form-checkbox">-->
<!--							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">-->
<!--							<label class="label-checkbox100" for="ckb1">-->
<!--								Remember me-->
<!--														By signing up, I agree to the <a href="/tos"> Terms of Service</a>.-->

<!--							</label>-->
<!--						</div>-->

						<div>
							<a href="#" class="txt1">
								Forgot password?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							Register
						</button>
						<p style="text-align:center">Already a member? <a href="/login">Login</a></p>
					</div>

				</form>
			</div>
		</div>
	</div>
{% endblock %}


	<div id="dropDownSelect1"></div>

</body>
</html>
